language: php
php:
  - "7.1"
  - "7.0"
  - "5.6"
  - "5.5"
  - "5.4"

install:
  - sudo apt-get update
  - travis_retry composer self-update && composer --version
  # - travis_retry composer global require --no-progress "fxp/composer-asset-plugin:^1.2.2"
  # Let's speed things up:
  - travis_retry composer config repo.composer composer 'https://asset-packagist.org'
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - travis_retry composer install --prefer-dist --no-interaction --no-progress
